@import 'Resource/css/variable.scss';

.agentTypeNav {
  background-color: #fff;
  margin-bottom: 18px;
  display: flex;
  align-items: center;

  &-type {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &-typeName {
    height: 50px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
    border-right: 1px solid #eee;
    cursor: pointer;
    transition: color .4s, border-bottom-color .4s;

    &:hover,
    &.active {
      color: $main-color;
      border-bottom: 3px solid $main-color;
    }

    &.active {
      cursor: default;
    }
  }
}
