@import '@resource/css/variable.scss';

.button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $main-color;
  transition: background-color .4s;
  color: #fff;
  padding: 0 10px;

  &:hover {
    background-color: $main-color-sub;
  }

  &--isGray {
    background-color: $sub-color;

    &:hover {
      background-color: $sub-color-sub;
    }
  }
}