@import 'Resource/css/variable.scss';

@keyframes rotating {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.agentAllView {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-building,
  &-idie {
    width: 278px;
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    justify-content: center;

    > i {
      font-size: 144px;
      opacity: .2;
    }

    > h4 {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 18px;
      font-weight: bold;
    }

    > span {
      font-size: 48px;
      bottom: 10px;
      right: 26px;
      position: absolute;
    }
  }

  &-building {
    background-color: $yellow;

    > i {
      animation: rotating 2s linear infinite;
    }
  }

  &-idie {
    background-color: $green;
  }

  &-type {
    background-color: #fff;
    height: 120px;
    display: flex;
    align-items: center;

    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 70px;
    }

    &Name {
      padding: 0 26px;
      font-size: 12px;
    }

    &Number {
      font-size: 20px;
      color: #333;
      font-weight: bolder;
    }
  }
}
