$main-width: 1200px;
$main-color: #00b4cf;
$main-color-sub: #01869a;
$yellow: #ffbb07;
$green: #91bf3e;
$sub-color: #2d4054;
$sub-color-sub: #435466;
$radius: 6px;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
