@import '@resource/css/variable.scss';

#Root {
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  position: absolute;
  top: 70px;
  bottom: 38px;
  width: $main-width;
  left: 0;
  margin: auto;
  right: 0;
  display: flex;

  &-main {
    flex: 1;
    overflow: hidden;
  }
}
