.searchInput {
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: flex;
  padding-right: 8px;

  &-icon {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-shrink: 0;
  }

  &-input {
    width: 150px;
    flex: 1;
    border: none;
  }
}