@import 'Resource/css/variable.scss';

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
  }

  &-bounce1,
  &-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $main-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading 2.0s infinite ease-in-out;
  }

  &-bounce2 {
    animation-delay: -1.0s;
  }

  @keyframes loading {
    0%,
    100% {
      transform: scale(0.0);
    }

    50% {
      transform: scale(1.0);
    }
  }
}