.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .03);

  &-name {
    font-weight: bolder;
  }
}