@import '@resource/css/variable.scss';

.notfound {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    font-weight: 100;
    font-size: 140px;
  }

  &-home {
    padding: 0 2px;
    font-weight: bolder;
    color: $main-color;
  }
}